.blog-post
  %h2.blog-post-title= article.title
  %p.blog-post-meta
    = article.created_at
    by
    = article.formatted_publishers
  = article.body
  - if article.tags
    %p.blog-post-meta
      = "#{t('.articles.tags')}:"
      - article.tags.each do |tag|
        %span.badge.badge-info
          = tag.name
  %p.blog-post-meta
    = "#{t('.articles.category')}: #{article.category.name}"
