%header.blog-header.py-3
  .row.flex-nowrap.justify-content-between.align-items-center
    .col-4.pt-1
    .col-4.text-center
      = link_to t('common.site_title'), root_path, class: 'blog-header-logo text-dark'
    .col-4.d-flex.justify-content-end.align-items-center
      %a.text-muted{"aria-label" => "#{t('shared.search')}", href: "#", "data-target" => "#exampleModal", "data-toggle" => "modal"}
        %svg.mx-3{:fill => "none", :focusable => "false", :height => "20", :role => "img", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "20", :xmlns => "http://www.w3.org/2000/svg"}
          %title= t('shared.search')
          %circle{:cx => "10.5", :cy => "10.5", :r => "7.5"}
          %path{:d => "M21 21l-5.2-5.2"}
      = link_to t('auth.sign_up'), new_user_registration_path, class: 'btn btn-sm btn-outline-secondary'
.nav-scroller.py-1.mb-2
  %nav.nav.d-flex.justify-content-between
    - @categories.each do |category|
      = link_to category.name, root_path(categories: [category.id]), class: 'p-2 text-muted'
.jumbotron.p-4.p-md-5.text-white.rounded.bg-dark
  .col-md-6.px-0
    %h1.display-4.font-italic= t('common.site_description_title')
    %p.lead.my-3= t('common.site_description')


#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  = form_with url: root_path, local: true, method: :get do |f|
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %h5#exampleModalLabel.modal-title= t('common.search')
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          .form-group
            = f.text_field :q, class: 'form-control', placeholder:  t('search.query')
            = f.label :categories
            = f.select(:categories, Category.all.collect { |cat| [ cat.name, cat.id ] }, { include_blank: true }, class: "form-control", multiple: true)
            = f.label :publishers
            = f.select(:publishers, Publisher.all.collect { |pub| [ pub.name, pub.id ] }, { include_blank: true }, class: "form-control", multiple: true)
        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
          = f.submit t('shared.search'), class: 'btn btn-primary'
